.btn{
    padding: 10px;
    border: 1px solid var(--font-color-sidebar);
    color: var(--font-color-sidebar);
    margin: 10px 0;
    font-size: var(--font-line-sm);
    background: transparent;
    cursor: pointer;
    text-transform: uppercase;
}
