
.scoreboard{
    display: flex;
    flex-direction: column;
    margin: 50px 50px 0;
    text-align: center;
    align-items: center;
}

.board-container{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 50px 0;
}

.board-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

