.contact-container{
    display: flex;
    flex-direction: column;
    padding: 30px 50px;

}

.contact{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    width: 100px;
    height: 100px;
    margin-right: 30px;
    border-radius: 50%;
    border: 1px solid var(--bg-color-sidebar);
    box-shadow: -1px 3px 6px rgba(0, 0, 0, 0.3);
    flex-shrink: 0;
}
.icon{
    width: 50px;
    height: 50px;
    color: var(--link-font-color)
}






