

.icon-wrapper{
    display: grid;
    grid-template-columns: 60px auto ;
    align-items: center;
    margin: 20px;
}

.icon{
    width: 30px;
    height: 30px;
    color: var(--link-font-color)
}

.text{
    font-size: var(--font-size-sm);
    text-transform: lowercase;
}


