.home{
    display: flex;
    align-items: flex-start;
    background-image: url("../../shared/assets/img.png");
    background-size: cover;
    background-position: center;
    width: calc(100vw - var(--sidebar-width));
    height: calc(100vh - var(--header-height));
    flex-grow:1
}
.home.mobile{
    width: 100vw;
}
.btn-link-container{
    padding: 60px 30px;
    display:flex;

}

.a-link {
    display: none;
    cursor: pointer;
}

.moto{
    position: absolute;
    right: 40px;
    top: 90px;
}



