.layout {
    display: flex;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: var(--sidebar-width);
    flex-shrink:0;
    background: var(--bg-color-sidebar);
    text-transform: uppercase;
    color: var(--bg-color-sidebar);
    box-shadow:var(--box-shadow );
    transform: translateX(0%);
    transition: 0.2s all;
    min-height: calc(100vh - var(--header-height));
    z-index: 1;
}

.menu.mobile{
    /*z-index:1;*/
    position: absolute;
    top: calc(var(--header-height));
    left: 0;
}

.menu.hide-on-small-screen {
    transform: translateX(-100%);
    transition: 0.2s all;
    opacity: 0;
    /*display: none;*/
}

.outlet-container {
    flex-grow: 1;
    text-transform: uppercase;
    color: var(--bg-color-sidebar);
    min-height: calc(100vh - var(--header-height));
    width: calc(100vw - var(--sidebar-width));
    overflow-y: scroll;

}

.outlet-container.mobile{
    position: absolute;
    left: 0;
    top: var(--header-height);
    width: 100vw;
}

.hamburger-menu{
    width: 30px;
    height: 30px;
    margin: 10px;
    position: absolute;
    top: calc(var(--header-height));
    left: 0;
    z-index: 2;
}




