.layout {
    display: flex;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: var(--sidebar-width);
    flex-shrink:0;
    background: var(--bg-color-sidebar);
    text-transform: uppercase;
    color: var(--bg-color-sidebar);
    box-shadow:var(--box-shadow );
    transform: translateX(0);
    min-height: calc(100vh - var(--header-height));
}

.menu.mobile{
    /*z-index:1;*/
    position: absolute;
    top: calc(var(--header-height));
    left: 0;
}

.menu.hide-on-small-screen {
    transform: translateX(-100%);
    display: none;
}

.outlet {
    flex-grow: 1;
    text-transform: uppercase;
    color: var(--bg-color-sidebar);
    min-height: calc(100vh - var(--header-height));
    overflow-y: scroll;
}

.hamburger-menu{
    width: 30px;
    height: 30px;
    margin: 10px;
    position: absolute;
    top: calc(var(--header-height));
    left: 0;
    z-index: 2
}




