.layout {
    display: flex;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: var(--sidebar-width);
    flex-shrink:0;
    background: var(--bg-color-sidebar);
    text-transform: uppercase;
    color: var(--bg-color-sidebar);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);

}

.outlet {
    flex-grow: 1;
    text-transform: uppercase;
    color: var(--bg-color-sidebar);
    min-height: calc(100vh - var(--header-height));
}

