.link{
    text-decoration: none;
    color: var(--font-color-sidebar);
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid transparent;
}
.active{
    color: var(--link-font-color);
    border-bottom: 1px solid var(--link-font-color);
}

.link:hover{
    border-bottom: 1px solid var(--link-font-color);
}
