.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    background: var(--bg-header);
    text-transform: uppercase;
    min-width: 100vw;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:var(--bg-color-sidebar);
    font-size: var(--font-size-sm);
    margin-right: 30px;
}

.header-item{
    margin: 10px 5px;
    text-decoration: none;
    color: var(--link-font-color);
    padding: 5px;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    font-size: var(--font-size-sm);
}

.score-link, .git-hub-link {
    display: flex;
    margin: 30px;
    padding: 5px 0;
    text-decoration: none;
    cursor: pointer;
    font-size: var(--font-size-sm);
    color: var(--bg-color);
    gap: 10px
}

.header-item:hover{
    border-bottom: 1px solid var(--link-font-color);
}


.git-hub-link a{
    color: var(--bg-color);
    padding: 5px 0;
}
.git-hub-link span{
    color: var(--bg-color);
    padding: 5px 0;
}

