.experience-container{
    display: flex;
    flex-direction: column;
}

.text-area{
    display: flex;
    gap: 10px;
    font-size: var(--font-size-sm);
    color: var(--font-color);
    padding: 10px 50px;

}

