.card-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 50px;
    height: 50px;
    border: 1px solid var(--bg-color-sidebar);
    border-radius: 10px;
    flex-shrink: 0;
}

.avg{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;

}



