.ed-container{
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
}
.education{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid var(--bg-color-sidebar);
    flex-shrink: 0;
    overflow: hidden;
}
.logo{
    width: 60px;
    height: 60px;
    color: var(--link-font-color);

}
.info-container {
    display: flex;
    flex-direction: column;
    color: var(--link-font-color);
    flex-shrink: 0;
}
