.layout {
    display: flex;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: var(--sidebar-width);
    flex-grow:1;
    background: var(--bg-color-sidebar);
    text-transform: uppercase;
    color: var(--bg-color-sidebar);

}

.outlet {
    flex-grow: 1;
    text-transform: uppercase;
    color: var(--bg-color-sidebar);
    height: calc(100vh - var(--header-height));
}

